* {
    box-sizing: border-box;
}

:root {
    --gray: var(--gray);
}

body {
    margin: 0;
    font-size: 19.2px;
    font-family: 'Open Sans', sans-serif;
    color: #666;
    font-weight: 400;
}

h1 {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1020px;
}

.header__inner-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 28px;
}

.list-header {
    display: flex;
    gap: 27px;
    font-size: 13.2px;
    font-weight: 600;
    color: #a9a9a9;
}

.header__btn {
    font-weight: 600;
    color: #fff;
    font-size: 13.2px;
    border: none;
    background-color: #bcda5c;
    height: 37px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
}

.header__inner-bottom {
    display: flex;
    align-items: center;
    min-height: 570px;
    background-image: url(./img/header-bottom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    z-index: 1;
    padding: 145px 0 45px;
}

.header__bottom-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.header__bottom-title {
    font-size: 49.2px;
    font-weight: 600;
    margin-bottom: 28px;
}

.header__bottom-subtitle {
    margin-bottom: 58px;
    font-size: 35.2px;
}

.header__bottom-btn {
    color: #fff;
    background-color: #99c50a;
    border: none;
    width: 255px;
    height: 75px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    font-size: 19.2px;
}

.header__bottom-shares {
    padding-top: 100px;
    gap: 32px;
    display: flex;
    justify-content: flex-end;
}

.ourworks {
    padding-top: 210px;
}

.ourworks__inner {
    display: flex;
    flex-direction: column;
}

.ourworks__top-title {
    line-height: 50px;
    font-size: 31.2px;
    font-weight: 600;
    color: var(--gray);
    text-transform: uppercase;
    position: relative;
    margin-bottom: 70px;
}

.ourworks__top-title::before {
    content: "";
    position: absolute;
    background-image: url(./img/our-works.png);
    width: 58px;
    height: 58px;
    left: 50%;
    margin: 0 auto;
    transform: translateY(-140%);
}

.ourworks-text--1 {
    margin-bottom: 50px;
}

.ourworks-text {
    color: #8c8c8c;
}

.ourworks__top {
    text-align: center;
    margin-bottom: 160px;
}

.ourworks__bottom {
    margin-bottom: 65px;
}

.ourworks__items {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 40px;
}

.ourworks__item-title {
    font-size: 33.2px;
    font-weight: 300;
    color: #656565;
}

.ourworks__item {
    margin-left: 75px;
    cursor: pointer;
}

.ourworks__item--1 {
    position: relative;
}

.ourworks__item--1::before {
    content: "1";
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #add136;
    width: 43px;
    height: 43px;
    left: -73%;
    display: flex;
    border-radius: 20px;
}

.ourworks__item--1::after {
    content: "";
    position: absolute;
    background-color: #add136;
    height: 1px;
    width: 200px;
    bottom: -90%;
    left: -73%;
}

.ourworks__item--2 {
    position: relative;
}

.ourworks__item--2::before {
    content: "2";
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #5f5f5f;
    width: 43px;
    height: 43px;
    left: -45%;
    display: flex;
    border-radius: 20px;
}

.ourworks__item--3 {
    position: relative;
}

.ourworks__item--3::before {
    content: "3";
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #5f5f5f;
    width: 43px;
    height: 43px;
    left: -45%;
    display: flex;
    border-radius: 20px;
}

.ourworks-bottom__block {
    padding: 70px 0 110px;
}

.ourworks-bottom__block-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ourworks-bottom__block-text {
    max-width: 655px;
}

.ourworks-block-text__title {
    color: #add136;
    font-size: 25.2px;
    margin-bottom: 35px;
}

.ourworks-block-text__p {
    font-size: 17.2px;
    color: #606060;
}

.find {
    padding-bottom: 80px;
}

.find__row {
    display: flex;
    justify-content: space-around;
}

.find-propeties {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    background-color: #e2f8ff;
}

.find-byers {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    background-color: #f5f9eb;
}

.properties-right {
    max-width: 440px;
}

.byers-right {
    max-width: 440px;
}

.find-properties__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 73px;
}

.properties-right {
    margin-left: 50px;
}

.title-find {
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    color: var(--gray);
    font-size: 23.2px;
    font-weight: 600;
}

.text-find {
    color: var(--gray);
    font-size: 17.2px;
    margin-bottom: 30px;
    line-height: calc(30/17.2);
}

.find-byers__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 73px;
}

.byers-right {
    margin-left: 50px;
}

.btn-find {
    border-radius: 10px;
    font-size: 14.84px;
    line-height: calc(51/14.84);
    height: 51px;
    display: inline-block;
    padding: 0 26px;
    font-weight: 600;
    color: #fff;
}

.properties-button {
    background-color: #26a6d1;
}
.byers-button {
    background-color: #add136;
}

.featured {
    
}

.featured__inner-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
}

.featired-top__left {
    max-width: 675px;
}

.featured-top__title {
    font-size: 29.2px;
    color: var(--gray);
    font-weight: 600;
    margin-bottom: 25px;
}

.featured-top__text {
    font-size: 17.2px;
    color: #8f8f8f;
    line-height: calc(30/17.2);
}

.featured__btn {
    display: inline-block;
    font-size: 14.83px;
    color: var(--gray);
    border: 1px solid #b6b6b6;
    border-radius: 10px;
    height: 50px;
    padding: 0 24px;
    line-height: calc(50/14.83);
    font-weight: 700;
}

.featured__inner-bottom {
    margin-bottom: 85px;
}

.featured-bottom__card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 40px; */
}

@media(max-width: 1000px) {
    .featured-bottom__card {
        justify-content: center;
        gap: 40px;
    }
}

.card__item {
    max-width: 300px;
}

.card--1 {
    background-image: url(./img/featured-item1.png);
}

.card--2 {
    background-image: url(./img/featured-item2.png);
}

.card--3 {
    background-image: url(./img/featured-item3.png);
}

.card-header {
    height: 226px;
    position: relative;
}

.card-header__corner span {
    color: #fff;
    display: block;
    position: relative;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.55px;
    transform: rotate(-45deg);
    max-width: 80px;
}

.card-header__corner:before {
    content: "";
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 75px;
    top: -2px;
    left: -2px;
    background-image: url(./img/rectangle.svg);
}

.card-header__subtitle {
    position: absolute;
    background-color: #26a6d1;
    max-width: 140px;
    height: 35px;
    font-size: 16.51px;
    line-height: calc(35/16.51);
    padding: 0 8px;
    color: #fff;
    border-radius: 5px;
    top: 78%;
    left: 49%;
}

.card-header__subtitle span {
    font-weight: 700;
}

.card__body-bottom {
    background-color: #f9f9f9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #ebebeb;
    padding: 30px 24px 24px;
}

.card-main__title {
    font-size: 17.2px;
    color: var(--gray);
    font-weight: 700;
    margin-bottom: 15px;
}

.card-main__text {
    font-size: 13.2px;
    color: #484848;
    line-height: calc(22/13.2);
    margin-bottom: 20px;
}

.card-line {
    position: relative;
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
    font-size: 13.2px;
    color: #8d8d8d;
    font-weight: 600;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 17px;
}

.card-line::before {
    content: "";
    position: absolute;
    width: 253px;
    height: 14px;
    top: 0;
    border-radius: 10px;
    background-color: #e3e3e3;
}

.card-line::after {
    content: "";
    position: absolute;
    width: 38px;
    top: 0;
    border-radius: 10px 0 0 10px;
    height: 14px;
    background-color: #add136;
}

.line-long {
    position: relative;
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
    font-size: 13.2px;
    color: #8d8d8d;
    font-weight: 600;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 17px;
}

.line-long::before {
    content: "";
    position: absolute;
    width: 253px;
    height: 14px;
    top: 0;
    border-radius: 10px;
    background-color: #e3e3e3;
}

.line-long::after {
    content: "";
    position: absolute;
    width: 168px;
    top: 0;
    border-radius: 10px 0 0 10px;
    height: 14px;
    background-color: #add136;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
}

.card-footer__btn {
    font-size: 15.2px;
    font-weight: 600;
    color: #484848;
    position: relative;
    padding-right: 23px;
}

.card-footer__btn::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 16px;
    top: 3px;
    right: 0;
    background-image: url('./img/wave.svg');
}

.comments {
    background-image: url(./img/bepart-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 60px;
    min-height: 670px;
}

.comments-top__inner {
    padding-bottom: 95px;
    text-align: center;
}

.comments-top__title {
    font-size: 39.2px;
    font-weight: 600;
    color: #9ec02d;
    padding-bottom: 40px;
}

.comments-top__text {
    color: #949494;
    line-height: calc(30/19.2);
}

.comments-bottom {
    display: flex;
    justify-content: space-between;
}

.comment-item {
    min-width: 397px;
}

.comment-item__review {
    background-image: url(./img/comment.png);
    min-height: 165px;
    margin-bottom: 35px;
}

.comment-review__title {
    text-align: center;
    padding-top: 17px;
    font-weight: 600;
    font-size: 21.2px;
    margin-bottom: 20px;
    color: #9ec02d;
}

.comment-review__text {
    font-size: 13.2px;
    color: #848484;
    text-align: center;
    line-height: calc(20/13.2);
}

.comment-item__person {
    position: relative;
    padding-left: 130px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #494949;
    font-weight: 700;
    font-size: 15.2px;
}

.comment-item__person:before {
    width: 60px;
    height: 60px;
    left: 60px;
    content: "";
    position: absolute;
}

.comment-person--1:before {
    background-image: url(./img/mess-photo1.png);
}

.comment-person--2:before {
    background-image: url(./img/mess-photo2.png);
}

.footer {
    padding: 50px 0 35px;
}

.footer-media__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-media {
    padding-bottom: 35px;
    border-bottom: 1px solid #ededed;
}

.footer-copy {
    padding-top: 35px;
    text-align: center;
}

.copyright {
    font-size: 13.2px;
    color: #848484;
    font-weight: 600;
}